@{
    ViewBag.Title = "About briscolla game";
}
<div class="alert-info badge">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <h2>Game rules:</h2>
</div>

<div class="panel-info">
    
    <p>
        One of the two players shuffles the deck and deals three cards to each player. He then takes a card (the seventh, in this case) and puts it face up near the pile of undealt cards, which are placed face down. The face-up card suit defines which will be the Briscola suit for the game. The Briscola suit is the trump suit, i.e. the suit which always takes all other cards, card ranking notwithstanding.

        The game starts. The first to play is the player to the right of the dealer. In the two player version, this means that the non-dealer (A) will start.

        A leads one of his three cards, face up.

        B plays one of his cards, and wins or loses the trick according to these three simple rules:

        If B plays a card of the same suit as the card led by A, then the trick is won by whoever played the higher card - the winner takes both cards away, and puts them, face down, in a pile near him.
        If B plays a card which has a different suit from the card which A led, but neither card is a Briscola (trump), A wins the trick, and the cards will go to A, even if B's card was of higher rank.
        If B plays a card of a different suit from A's, and one of the cards is a Briscola (trump), then the player of the Briscola wins the trick.
    </p>

</div>